@import "~node_modules/modern-normalize/modern-normalize.css";
:root {
  --font-main: "Roboto", sans-serif;
  --font-size: 16px;
  --text-color-main: #000;
  --text-color-accent: #8c8c8c;
  --text-color-light: #ffffff;
  --accent-color: #ff6b01;
  --bg-color: #f7f7f7;
  --menu-line-color: #ff001b;
  --card-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.2),
    0px -5px 10px -5px rgba(34, 60, 80, 0.2);
  --btn-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  --gutter: 32px;
  --gutter-mob: 20px;
  --section-padding: 60px;
  --transition-prop: 0.25s ease;
}

body {
  font-family: var(--font-main);
  font-size: var(--font-size);
  color: var(--text-color-main);
}

body.modal-open {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}
@media screen and (max-width: 767.9px) {
  .container {
    max-width: 480px;
    padding-left: var(--gutter-mob);
    padding-right: var(--gutter-mob);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .container {
    width: 768px;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}

.no-scroll {
  overflow: hidden;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  min-height: 44px;
  padding: 14px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--text-color-main);
  text-transform: uppercase;
  transition: all var(--transition-prop);
}
@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .btn {
    min-width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .btn {
    min-width: 148px;
  }
}
.btn:focus, .btn:hover {
  color: var(--text-color-light);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  filter: var(--btn-shadow);
}

.btn--modal {
  width: 110px;
  min-width: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .btn--modal {
    width: auto;
    min-width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .btn--modal {
    width: auto;
    min-width: 136px;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 92px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/library/header-lib-mobile-bg.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header__wrapper {
    background-image: url("../images/library/header-lib-mobile-bg@2.jpg");
  }
}

@media screen and (max-width: 767.98px) {
  .header__logo--hidden {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    max-width: 1600px;
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.header__logo:hover, .header__logo:focus {
  text-decoration: none;
}

.nav__link {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.167;
  color: var(--secondary-color);
  transition: color 250ms linear;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.movie-search {
  width: 280px;
  border: none;
  border-bottom: 0.5px solid var(--secondary-color);
  display: flex;
  justify-content: space-between;
}

.search-input {
  padding: 4px;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--secondary-color);
}
.search-input::-moz-placeholder {
  padding: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.search-input:-ms-input-placeholder {
  padding: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.search-input::placeholder {
  padding: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.auth-nav__list {
  display: flex;
  margin-right: 20px;
}

.auth-nav__item:not(:last-child) {
  margin-right: 10px;
}

.auth-btn {
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.167;
  border: none;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: transparent;
  transition: color 250ms linear;
}
.auth-btn:hover, .auth-btn:focus {
  color: var(--accent-color);
}

.submit-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 10px;
}

.nav__link--active {
  border-bottom: 3px solid #ff001b;
}

.form-wrapper {
  margin-top: 54px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.167;
    color: var(--secondary-color);
    margin-right: auto;
  }
  .logo-icon {
    margin-right: 8px;
  }
  .auth-nav__list {
    margin-right: 40px;
  }
  .auth-nav__item:not(:last-child) {
    margin-right: 40px;
  }
  .nav__item:not(:last-child) {
    margin-right: 40px;
  }
  .movie-search {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin-right: auto;
  }
}
.library-box {
  margin-top: 40px;
}

.library-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 36px;
  width: 120px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: transparent;
  transition: background-color 250ms linear;
}
.library-btn:hover, .library-btn:focus {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.library-btn.accent-btn {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.library-btn:first-child {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .library-btn:first-child {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .library-btn:first-child {
    margin-right: 16px;
  }
}/*# sourceMappingURL=index.css.map */