@import "~node_modules/modern-normalize/modern-normalize.css";

body {
    font-family: var(--font-main);
    font-size: var(--font-size);
    color: var(--text-color-main);
}

body.modal-open {
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, 
a {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visual-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    margin: 0 auto;

    @include mobile-only() {
        max-width: 480px;
        padding-left: var(--gutter-mob);
        padding-right: var(--gutter-mob);
    }

    @include tablet-only() {
        max-width: $tablet;
        padding-left: var(--gutter);
        padding-right: var(--gutter);
    }

    @include desktop() {
        max-width: $desktop;
        padding-left: var(--gutter);
        padding-right: var(--gutter);
    }
}

.no-scroll {
    overflow: hidden;
}

.backdrop {
    backdrop-filter: saturate(0.8) brightness(0.9);
}