//use @include font(400, 14, 1.71, 0.2) {...}
@mixin font($fw, $fz, $lh) {
  font-weight: $fw;
  font-size: $fz;
}

//mixins for flex layout
@mixin centered() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//use @include retina() {...}
@mixin retina() {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

//mixins for @media
//use, for example:  @include desktop() {...}
@mixin mobile() {
  @media screen and (min-width: ($mobile)) {
    @content;
  }
}

@mixin mobile-only() {
  @media screen and (max-width: ($tablet - 0.1px)) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-only() {
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.1px)) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
