<header class="header">
  <div class="header__wrapper">
    <div class="container header__container">
      <div class="nav-container">
        <a class="header__logo header__logo--hidden" href="./index.html">
          <svg class="logo-icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#logo-icon"></use>
          </svg>
          <span class="header__logo visual-hidden">Filmoteka</span>
        </a>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link home-link" href="./index.html">Home</a>
            </li>
            <li class="nav__item">
              <a
                class="nav__link library-link nav__link--active"
                href="./library.html"
                >My library</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="library-cont">
        <button type="button" class="library-btn accent-btn" id="watched-btn">
          Watched
        </button>
        <button type="button" class="library-btn" id="queue-btn">Queue</button>
      </div>
    </div>
  </div>
</header>
