<header class="header header--library container">
  <div class="header__wrapper">
    <nav class="nav-container">
      <a class="header__logo" href="./index.html">
        <svg class="logo-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#logo-icon"></use>
        </svg>
        <span class="header__logo-text">Filmoteka</span>
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--active" href="./library.html"
            >My library</a
          >
        </li>
      </ul>
    </nav>
    <div class="library-cont">
      <button type="button" class="btn btn--header" id="watched-btn" >
        Watched
      </button>
      <button type="button" class="btn btn--header active" id="queue-btn" disabled>
        Queue
      </button>
    </div>
  </div>
</header>
