<div class="container container--header">
    <nav class="site-menu">
        <a href="#">   <!-- CHECK THIS LINK  -->
            <svg class="logo-svg" src="../images/symbol-defs.svg#logo-icon" width="24" hight="24"></svg>

            <p class="header__logo-text ">Filmoteka</p> 
        </a>

        <ul class="list main-nav-list">
            <li class="main-nav-list__item">
                <a class="link header__link underline" href="">Home</a> <!-- CHECK THIS LINK  -->
            </li>   
            
            <li class="main-nav-list__item">
                <a class="link header__link" href="./library.html">My library</a>
            </li>         
        </ul>
    </nav>

    <form class="search-form" id="search-form">
        <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
        />
        <!-- <button class="submit-btn" type="submit">
            <svg class="search-svg" src="../images/symbol-defs.svg#search-icon" widh="12" hight="12"></svg>
        </button> -->

        <svg class="search-svg" type="submit" src="../images/symbol-defs.svg#search-icon" widh="12" hight="12"></svg>


        <!-- <script src="../index.js"></script> -->
    </form>
    
    <p class="fail-search-message visual-hidden">Search result not successful. Enter the correct movie name and </p>

</div>