<main class="main">
  <h1 class="visual-hidden">Filmoteka</h1>
  <ul class="gallery container">
    <li class="films__item">
      <div class="films__img">
        <img
        src=https://upload.wikimedia.org/wikipedia/uk/c/cd/Постер_до_фільму_«Іо»%2C_2019.jpg
        alt="Name" loading="lazy">
      </div>
      <div class="films__description">
        <p class="films__title">Name</p>
        <div class="films__meta">
          <p class="films__genres">Genres |</p>
          <p class="films__data">2022</p>
          <span class="films__rating">7.2</span>
        </div>
      </div>
    </li>

    <li class="films__item">
      <div class="films__img">
        <img
        src=https://upload.wikimedia.org/wikipedia/uk/e/e1/Постер_до_фільму_«Толкін»%2C_2019.jpg
        alt="Name" loading="lazy">
      </div>
      <div class="films__description">
        <p class="films__title">Name</p>
        <div class="films__meta">
          <p class="films__genres">Genres |</p>
          <p class="films__data">2022</p>
          <span class="films__rating">7.2</span>
        </div>
      </div>
    </li>

    <li class="films__item">
      <div class="films__img">
        <img
        src=https://upload.wikimedia.org/wikipedia/uk/c/c9/Постер_до_фільму_«У_тіні_Місяця»%2C_2019.jpg
        alt="Name" loading="lazy">
      </div>
      <div class="films__description">
        <p class="films__title">Name</p>
        <div class="films__meta">
          <p class="films__genres">Genres |</p>
          <p class="films__data">2022</p>
          <span class="films__rating">7.2</span>
        </div>
      </div>
    </li>
  </ul>
</main>
