<!-- This is the modal in the footer about the team -->
<div class="backdrop" data-modal-team>
  <div class="modal-team">
    <button data-modal-close class="modal-close-btn">
      <svg class="close-icon" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="carousel reviews__slider">
      <!-- 1 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user1-1x.jpg 1x,
                ./images/reviews/user1-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user1-1x.jpg 1x,
                ./images/reviews/user1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user1-1x.jpg 1x,
                ./images/reviews/user1-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user1-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
              <p class="team__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci modi obcaecati suscipit ipsam exercitationem odit at iure ex. Optio esse debitis tempora iusto ullam eos praesentium adipisci neque id magnam?</p>
              <ul class="social">
              <li class="social__item">
                <a class="social__link" href="">
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="">
                  <svg class="social__icon" width="20px" height="16.25px">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <p class="team__name">Yuliya Khovrych, Developer</p>
        </article>
      </li>
      <!-- 2 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user2-1x.jpg 1x,
                ./images/reviews/user2-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user2-1x.jpg 1x,
                ./images/reviews/user2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user2-1x.jpg 1x,
                ./images/reviews/user2-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user2-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            
              <p class="team__text">
                Great cafe with a good selection of quality ice cream. Any can
                be taken and given to children, because it is made from natural
                products and no chemicals. We go here often with my son.
              </p>
            
          </div>
          <p class="team__name">Andrew Burlachenko, Team lead</p>
        </article>
      </li>
      <!-- 3 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user3-1x.jpg 1x,
                ./images/reviews/user3-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user3-1x.jpg 1x,
                ./images/reviews/user3-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user3-1x.jpg 1x,
                ./images/reviews/user3-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user3-1x.jpg"
              alt="Client's photo"
            />
          </picture>
          <div class="team__bg">
            
              <p class="team__text">
                In this cafe you can order a milkshake with any taste. It's
                great that it is made with the addition of fresh fruits and
                berries. I am sure even those who do not like dairy products
                will like it.
              </p>
            
          </div>
          <p class="team__name">Daria Zakharova, Developer</p>
        </article>
      </li>
      <!-- 4 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user4-1x.jpg 1x,
                ./images/reviews/user4-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user4-1x.jpg 1x,
                ./images/reviews/user4-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user4-1x.jpg 1x,
                ./images/reviews/user4-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user4-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            
              <p class="team__text">
                The Ice Creams are fresh and really tasty. The staff is
                courteous too. Amidst the array of flavors, the season specials
                are THE best...
              </p>
            
          </div>
          <p class="team__name">Vanchytskyi Roman, Developer</p>
        </article>
      </li>
      <!-- 5 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user5-1x.jpg 1x,
                ./images/reviews/user5-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user5-1x.jpg 1x,
                ./images/reviews/user5-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user5-1x.jpg 1x,
                ./images/reviews/user5-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user5-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            
              <p class="team__text">
                This is some of the best ice cream found while the trip.
                Everyone in our group loved it. Mango was the bomb dot com.
                Others likes coco crunch, coco almond. Highly recommend!
              </p>
            
          </div>
          <p class="team__name">
            Bondarenko Olexander, Developer
          </p>
        </article>
      </li>
      <!-- 6 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user6-1x.jpg 1x,
                ./images/reviews/user6-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user6-1x.jpg 1x,
                ./images/reviews/user6-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user6-1x.jpg 1x,
                ./images/reviews/user6-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user6-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            
              <p class="team__text">
                Taste's as if you are having a real fruit. You can't possibly
                eat anywhere else if you once tried this! The variety of there
                ice cream is just awesome and enormous and they keep revising
                there choices in seasons. :) Nothing beats the taste.
              </p>
            
          </div>
          <p class="team__name">Huminilovych Roman, Developer</p>
        </article>
      </li>
      <!-- 7 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user7-1x.jpg 1x,
                ./images/reviews/user7-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user7-1x.jpg 1x,
                ./images/reviews/user7-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user7-1x.jpg 1x,
                ./images/reviews/user7-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user7-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            
              <p class="team__text">
                Very good I recommend the custard Apple. They allowed me to try
                and sample almost every flavour. I also enjoyed the cherry
                flavour with chocolate chips.
              </p>
            
          </div>
          <p class="team__name">Svitlana Ivanenko, Developer</p>
        </article>
      </li>
      <!-- 8 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user8-1x.jpg 1x,
                ./images/reviews/user8-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user8-1x.jpg 1x,
                ./images/reviews/user8-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user8-1x.jpg 1x,
                ./images/reviews/user8-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user8-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            
              <p class="team__text">
                Seasonal varieties are well displayed giving you an opportunity
                to taste different items as available in that season. Unlimited
                varieties. Excellent persons manning the counters to quickly
                take your order and provide you the item.
              </p>
            
          </div>
          <p class="team__name">
            Igor Kobernyk, Sofiivska Developer
          </p>
        </article>
      </li>
      <!-- 9 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user9-1x.jpg 1x,
                ./images/reviews/user9-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user9-1x.jpg 1x,
                ./images/reviews/user9-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user9-1x.jpg 1x,
                ./images/reviews/user9-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user9-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            
              <p class="team__text">
                Try this ice cream! I really liked this ice cream and wish they
                have in Poland. The ice cream were made with real fruits and it
                taste so light and not too sweet. The price is just right too.
              </p>
            
          </div>
          <p class="team__name">Alina Halchenko, Scrum master</p>
        </article>
      </li>
    </ul>

    
  </div>
</div>
