<!--Модальное окно про фильм-->
<div class="backdrop backdrop__movie-info is-hidden">
  <!--< div class="modal">
    <button class="modal-close-btn">
      <svg class="close-icon" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__wrapper-img">
      <img class="modal__img" src="./images/noPicture.jpg" alt="Fist" />
    </div>
    <div class="modal__info">
      <h3 class="modal__title">A FISTFUL OF LEAD</h3>
      <div class="modal__attributes">
        <p class="modal__attributes-name">
          <span class="modal__attributes-title">Vote / Votes</span>
          <span class="modal__attributes-vote">7.3</span> /
          <span class="modal__attributes-vote votes">1260</span>
        </p>
        <p class="modal__attributes-name">
          <span class="modal__attributes-title">Popularity</span>
          <span class="modal__attributes-text">100.2</span>
        </p>
        <p class="modal__attributes-name">
          <span class="modal__attributes-title">Original Title</span>
          <span class="modal__attributes-text">A FISTFUL OF LEAD</span>
        </p>
        <p class="modal__attributes-name">
          <span class="modal__attributes-title">Genre</span>
          <span class="modal__attributes-text">Western</span>
        </p>
      </div>
      <article class="modal__article">
        <h4 class="modal__about">ABOUT</h4>
        <p class="modal__about-text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
      </article>
      <ul class="modal__list-btn">
        <li class="modal__item-btn">
          <button type="submit" class="modal__btn btn">Add to watched</button>
        </li>
        <li class="modal__item-btn">
          <button type="submit" class="modal__btn btn js-addQueueBtn">
            Add to queue
          </button>
        </li>
      </ul>
    </div>
  </div> -->
</div>
