<!-- This is the modal in the footer about the team -->
<div class="backdrop is-hidden" data-modal-team>
  <div class="modal-team">
    <button data-team-modal-close class="modal-team-close-btn">
      <svg class="close-icon" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="carousel reviews__slider">
      <!-- 1 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user1-1x.jpg 1x,
                ./images/reviews/user1-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user1-1x.jpg 1x,
                ./images/reviews/user1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user1-1x.jpg 1x,
                ./images/reviews/user1-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user1-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            <p class="team__text">
              This project is good opportunity and interesting practise to use
              learning in real work. Also command work helps to improve own
              communication skills and time management for the best result!
            </p>
            <ul class="social">
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://github.com/Yuliya-Khovrych"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://www.linkedin.com/in/юлия-ховрич-a50716128/"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="16.25px">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <p class="team__name">Yuliya Khovrych, Developer</p>
        </article>
      </li>
      <!-- 2 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user2-1x.jpg 1x,
                ./images/reviews/user2-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user2-1x.jpg 1x,
                ./images/reviews/user2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user2-1x.jpg 1x,
                ./images/reviews/user2-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user2-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            <p class="team__text">
              The experience gained as a team leader from this project educated
              me, added confidence in my knowledge and, once again, showed that
              communication in a team is almost the most important thing.
            </p>
            <ul class="social">
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://github.com/Burla4enko"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://www.linkedin.com/in/burla4enko"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="16.25px">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <p class="team__name">Andrew Burlachenko, Team lead</p>
        </article>
      </li>
      <!-- 3 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user3-1x.jpg 1x,
                ./images/reviews/user3-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user3-1x.jpg 1x,
                ./images/reviews/user3-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user3-1x.jpg 1x,
                ./images/reviews/user3-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user3-1x.jpg"
              alt="Client's photo"
            />
          </picture>
          <div class="team__bg">
            <p class="team__text">
              The project has definitely been a great experience in applying
              tools and knoledge, that we aquired while studying, but what I
              personally learned is the importance of interaction with the
              teammates. When you work together it's not just a sum but a
              multiplication of your skills and it's absolutely ok to ask
              questions if you got stuck at some stage instead of wasting time.
            </p>
            <ul class="social">
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://github.com/Daria-Zakharova"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://www.linkedin.com/in/daria-zakharova-999556256/"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="16.25px">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <p class="team__name">Daria Zakharova, Developer</p>
        </article>
      </li>
      <!-- 4 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user4-1x.jpg 1x,
                ./images/reviews/user4-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user4-1x.jpg 1x,
                ./images/reviews/user4-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user4-1x.jpg 1x,
                ./images/reviews/user4-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user4-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            <p class="team__text">
              This project will help to gain the necessary practice and teamwork
              experience, which is extremely important for a novice programmer.
            </p>
            <ul class="social">
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://github.com/Roman-Vanchytskyi"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://www.linkedin.com"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="16.25px">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <p class="team__name">Vanchytskyi Roman, Developer</p>
        </article>
      </li>
      <!-- 5 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user5-1x.jpg 1x,
                ./images/reviews/user5-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user5-1x.jpg 1x,
                ./images/reviews/user5-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user5-1x.jpg 1x,
                ./images/reviews/user5-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user5-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            <p class="team__text">
              This project helped me to understand how important team work is.
              You need to develop good communication skills to be able to get
              good results.
            </p>
            <ul class="social">
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://github.com"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://www.linkedin.com"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="16.25px">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <p class="team__name">Bondarenko Olexander, Developer</p>
        </article>
      </li>
      <!-- 6 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user6-1x.jpg 1x,
                ./images/reviews/user6-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user6-1x.jpg 1x,
                ./images/reviews/user6-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user6-1x.jpg 1x,
                ./images/reviews/user6-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user6-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            <p class="team__text">
              This is a good and interesting project that gave an opportunity to
              dive into a typical day of a developer. Planning, discussion and
              assignment of tasks, implementation with error processing - this
              is all a great experience!
            </p>
            <ul class="social">
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://github.com/Roman-Huminilovych"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://www.linkedin.com/in/roman-huminilovych/"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="16.25px">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <p class="team__name">Huminilovych Roman, Developer</p>
        </article>
      </li>
      <!-- 7 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user11-1x.jpg 1x,
                ./images/reviews/user11-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user11-1x.jpg 1x,
                ./images/reviews/user11-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user11-1x.jpg 1x,
                ./images/reviews/user11-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user11-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            <p class="team__text">
              This project was a good opportunity to improve my teamwork skills,
              individual skills as a JavaScript software developer, and working
              under stressful conditions. I thank my team for the coordinated
              work and excellent result!
            </p>
            <ul class="social">
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://github.com/AlexanderBryukhovetskiy"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://www.linkedin.com"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="16.25px">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <p class="team__name">Alexander Bryukhovetskii, Developer</p>
        </article>
      </li>
      <!-- 8 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user9-1x.jpg 1x,
                ./images/reviews/user9-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user9-1x.jpg 1x,
                ./images/reviews/user9-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user9-1x.jpg 1x,
                ./images/reviews/user9-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="team__img"
              src="./images/reviews/user9-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="team__bg">
            <p class="team__text">
              I believe teamwork is the most essential skill among good
              developers and this project just emphasized its importance.
              Sometime one person could start doing their work only when the
              previous one was done, so the timing and communication were gold
              for us.
            </p>
            <ul class="social">
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://github.com/Alina-Halchenko"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  class="social__link"
                  href="https://www.linkedin.com/in/alina-halchenko-1a5479239/"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="16.25px">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <p class="team__name">Alina Halchenko, Scrum master</p>
        </article>
      </li>
    </ul>
  </div>
</div>
