<!-- This is the modal in the footer about the team -->
<div class="backdrop" data-modal-team>
  <div class="modal-team">
    <button data-modal-close class="modal-close-btn">
      <svg class="close-icon" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="carousel reviews__slider">
      <!-- 1 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user1-1x.jpg 1x,
                ./images/reviews/user1-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user1-1x.jpg 1x,
                ./images/reviews/user1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user1-1x.jpg 1x,
                ./images/reviews/user1-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__img"
              src="./images/reviews/user1-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                The best ice coffee here. This is a refreshing and very tasty
                drink for coffee lovers in the summer, which also invigorates.
                Especially, when it's made with passion.
              </p>
            </div>
          </div>
          <p class="reviews__name">Yuliya Khovrych, New York, USA</p>
        </article>
      </li>
      <!-- 2 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user2-1x.jpg 1x,
                ./images/reviews/user2-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user2-1x.jpg 1x,
                ./images/reviews/user2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user2-1x.jpg 1x,
                ./images/reviews/user2-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__img"
              src="./images/reviews/user2-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                Great cafe with a good selection of quality ice cream. Any can
                be taken and given to children, because it is made from natural
                products and no chemicals. We go here often with my son.
              </p>
            </div>
          </div>
          <p class="reviews__name">Andrew Burlachenko, Kharkiv, Ukraine</p>
        </article>
      </li>
      <!-- 3 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user3-1x.jpg 1x,
                ./images/reviews/user3-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user3-1x.jpg 1x,
                ./images/reviews/user3-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user3-1x.jpg 1x,
                ./images/reviews/user3-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__img"
              src="./images/reviews/user3-1x.jpg"
              alt="Client's photo"
            />
          </picture>
          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                In this cafe you can order a milkshake with any taste. It's
                great that it is made with the addition of fresh fruits and
                berries. I am sure even those who do not like dairy products
                will like it.
              </p>
            </div>
          </div>
          <p class="reviews__name">Daria Zakharova, Los Angeles, USA</p>
        </article>
      </li>
      <!-- 4 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user4-1x.jpg 1x,
                ./images/reviews/user4-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user4-1x.jpg 1x,
                ./images/reviews/user4-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user4-1x.jpg 1x,
                ./images/reviews/user4-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__img"
              src="./images/reviews/user4-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                The Ice Creams are fresh and really tasty. The staff is
                courteous too. Amidst the array of flavors, the season specials
                are THE best...
              </p>
            </div>
          </div>
          <p class="reviews__name">Vanchytskyi Roman, Ukrainka, Ukraine</p>
        </article>
      </li>
      <!-- 5 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user5-1x.jpg 1x,
                ./images/reviews/user5-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user5-1x.jpg 1x,
                ./images/reviews/user5-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user5-1x.jpg 1x,
                ./images/reviews/user5-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__img"
              src="./images/reviews/user5-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                This is some of the best ice cream found while the trip.
                Everyone in our group loved it. Mango was the bomb dot com.
                Others likes coco crunch, coco almond. Highly recommend!
              </p>
            </div>
          </div>
          <p class="reviews__name">
            Bondarenko Olexander, Obukhiv, Ukraine
          </p>
        </article>
      </li>
      <!-- 6 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user6-1x.jpg 1x,
                ./images/reviews/user6-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user6-1x.jpg 1x,
                ./images/reviews/user6-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user6-1x.jpg 1x,
                ./images/reviews/user6-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__img"
              src="./images/reviews/user6-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                Taste's as if you are having a real fruit. You can't possibly
                eat anywhere else if you once tried this! The variety of there
                ice cream is just awesome and enormous and they keep revising
                there choices in seasons. :) Nothing beats the taste.
              </p>
            </div>
          </div>
          <p class="reviews__name">Huminilovych Roman, Lviv, Ukraine</p>
        </article>
      </li>
      <!-- 7 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user7-1x.jpg 1x,
                ./images/reviews/user7-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user7-1x.jpg 1x,
                ./images/reviews/user7-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user7-1x.jpg 1x,
                ./images/reviews/user7-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__img"
              src="./images/reviews/user7-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                Very good I recommend the custard Apple. They allowed me to try
                and sample almost every flavour. I also enjoyed the cherry
                flavour with chocolate chips.
              </p>
            </div>
          </div>
          <p class="reviews__name">Svitlana Ivanenko, Vancouver, Canada</p>
        </article>
      </li>
      <!-- 8 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user8-1x.jpg 1x,
                ./images/reviews/user8-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user8-1x.jpg 1x,
                ./images/reviews/user8-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user8-1x.jpg 1x,
                ./images/reviews/user8-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__img"
              src="./images/reviews/user8-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                Seasonal varieties are well displayed giving you an opportunity
                to taste different items as available in that season. Unlimited
                varieties. Excellent persons manning the counters to quickly
                take your order and provide you the item.
              </p>
            </div>
          </div>
          <p class="reviews__name">
            Igor Kobernyk, Sofiivska Borshchahivka, Ukraine
          </p>
        </article>
      </li>
      <!-- 9 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user9-1x.jpg 1x,
                ./images/reviews/user9-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user9-1x.jpg 1x,
                ./images/reviews/user9-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user9-1x.jpg 1x,
                ./images/reviews/user9-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__img"
              src="./images/reviews/user9-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                Try this ice cream! I really liked this ice cream and wish they
                have in Poland. The ice cream were made with real fruits and it
                taste so light and not too sweet. The price is just right too.
              </p>
            </div>
          </div>
          <p class="reviews__name">Alina Halchenko, Krakow, Poland</p>
        </article>
      </li>
      <!-- 10 -->
      <li class="carousel__item reviews-slider__item">
        <article class="reviews__clients">
          <picture>
            <source
              srcset="
                ./images/reviews/user10-1x.jpg 1x,
                ./images/reviews/user10-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/reviews/user10-1x.jpg 1x,
                ./images/reviews/user10-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/user10-1x.jpg 1x,
                ./images/reviews/user10-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__img"
              src="./images/reviews/user10-1x.jpg"
              alt="Client's photo"
            />
          </picture>

          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                Very good natural flavoured icecreamd and most very light.
                Whenever I travel back to my native place. I have pouring
                demands for naturals ice cream. Some of their flavours
                especially the coconut and roasted almond are like to die for.
              </p>
            </div>
          </div>
          <p class="reviews__name">Shevchenko Oleksii, Miami, USA</p>
        </article>
      </li>
    </ul>

    
  </div>
</div>
