<ul class="pagination">
    <li class="pagination__item pagination__item--arrow">
        <a class="pagination__link pagination__link--start" href="#">
            <svg class="pagination__icon"> 
                <use href="./images/symbol-defs.svg#arrow-left-icon"></use>
            </svg>
        </a>
    </li>
    <li>
        <ul class="pagination__pages"></ul>
    </li>
    <li class="pagination__item pagination__item--arrow">
        <a class="pagination__link pagination__link--end" href="#">
            <svg class="pagination__icon"> 
                <use href="./images/symbol-defs.svg#arrow-right-icon"></use>
            </svg>
        </a>
    </li>
</ul>