<ul class="pagination visual-hidden">
    <li class="pagination__item pagination__item--arrow">
        <button type="button" class="pagination__btn pagination__btn--left">
            <svg class="pagination__icon"> 
                <use href="./images/symbol-defs.svg#arrow-left-icon"></use>
            </svg>
        </и>
    </li>
    <li>
        <ul class="pagination__pages"></ul>
    </li>
    <li class="pagination__item pagination__item--arrow">
        <button type="button" class="pagination__btn pagination__btn--right">
            <svg class="pagination__icon"> 
                <use href="./images/symbol-defs.svg#arrow-right-icon"></use>
            </svg>
        </и>
    </li>
</ul>