.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  min-height: 44px;
  padding: 13px;

  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--text-color-main);
  text-transform: uppercase;

  transition: all var(--transition-prop);

  @include tablet-only() {
    min-width: 152px;
  }

  @include desktop() {
    min-width: 148px;
  }

  &--header {
    color: var(--text-color-light);
  }

  &.active,
  &:focus,
  &:hover,
  &.accent-btn {
    color: var(--text-color-light);

    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    filter: var(--btn-shadow);
  }
}

.modal__btn {
  width: 110px;
  min-width: auto;
  height: 44px;
  padding: 6px;
  border: 1px solid #000000;

  @include tablet-only() {
    width: auto;
    min-width: 125px;
  }

  @include desktop() {
    width: auto;
    min-width: 136px;
  }
}
