.footer {
  background-color: var(--bg-color);
  padding: 29px 36px 30px 48px;

  @include tablet() {
    display: flex;
    padding: 30px 143px;
    align-items: center;
  }
    @include desktop() {
    padding: 29px 0;
    justify-content: center;
  }
}

.wrap {
  display: flex;
  justify-content: center;

}



.footer__dev,
.footer__dev a,
.footer__copyright {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #545454;

  @include tablet() {
    font-size: 16px;
    line-height: 1.18;
  }
}

.footer__copyright {
  margin: 0 auto;
  margin-bottom: 10px;
  min-width: 187px;

  @include tablet(){
    margin-bottom: 0;
    margin-right: 4px;
  }

}
.footer__dev a {
  text-decoration:underline;
}


.footer__heart-icon {
  margin-left: 10px;
  margin-right: 10px;
}

// .footer__slogan {
//   max-width: 234px;
//   margin-bottom: 40px;
//   @include tablet() {
//     max-width: 340px;
//     margin-bottom: 0;
//   }
//   @include desktop() {
//     max-width: 477px;
//   }
// }

// .footer__slogan-subtitle {
//   font-family: var(--font-accent);
//   font-style: normal;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.17;
//   text-transform: uppercase;
//   color: var(--accent-color);
//   margin-bottom: 16px;

//   @include tablet() {
//     font-size: 26px;
//     line-height: 1.15;
//     letter-spacing: 0.04em;
//     margin-bottom: 12px;
//   }

//   @include desktop() {
//     font-size: 30px;
//     line-height: 1.13;
//   }
// }

// .footer__slogan-title {
//   font-family: var(--font-accent);
//   font-style: normal;
//   font-weight: 400;
//   font-size: 34px;
//   line-height: 1.15;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;
//   color: var(--primary-color);

//   @include tablet() {
//     font-size: 48px;
//     letter-spacing: 0.06em;
//     color: var(--primary-color);
//   }

//   @include desktop() {
//     font-size: 58px;
//     line-height: 1.14;
//   }
// }

// .footer__contacts {
//   @include tablet() {
//     margin-top: 60px;
//   }
//   @include desktop() {
//     margin-top: 12px;
//   }
// }
// .footer__socials {
//   display: flex;
//   justify-content: end;
//   gap: 28px;
// }

// .footer__soc-item {
//   width: 32px;
//   height: 32px;

//   @include tablet() {
//     width: 34px;
//     height: 34px;
//   }
// }

// .footer__soc-link {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   background-color: var(--accent-color);
//   color: #ffffff;
//   transition: background-color var(--transition-prop);
//   &:hover,
//   &:focus {
//     background-color: var(--primary-color);
//   }
// }

// .footer__soc-icon {
//   fill: currentColor;
// }

// .footer__phone-text {
//   font-family: var(--font-main);
//   font-style: normal;
//   font-weight: 700;
//   font-size: 12px;
//   line-height: 1.86;

//   @include tablet() {
//     font-size: 14px;
//   }

//   @include desktop() {
//     font-size: 16px;
//     letter-spacing: 0.02em;
//   }
// }

// .footer__phone-number {
//   font-family: var(--font-main);
//   font-style: normal;
//   font-weight: 700;
//   font-size: 12px;
//   line-height: 1.86;
//   color: var(--primary-color);

//   @include tablet() {
//     font-size: 14px;
//   }

//   @include desktop() {
//     font-size: 16px;
//     letter-spacing: 0.02em;
//   }
// }

