.footer {
  background-color: var(--bg-color);
  padding: 29px 36px 30px 48px;

  @include tablet() {
    display: flex;
    padding: 30px 143px;
    align-items: center;
  }
    @include desktop() {
    padding: 29px 0;
    justify-content: center;
  }
}

.wrap {
  display: flex;
  justify-content: center;
}

.footer__dev,
.footer__dev a,
.footer__copyright {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #545454;

  @include tablet() {
    font-size: 16px;
    line-height: 1.18;
  }
}

.footer__copyright {
  margin: 0 auto;
  margin-bottom: 10px;
  min-width: 187px;

  @include tablet(){
    margin-bottom: 0;
    margin-right: 4px;
  }

}
.footer__dev a {
  text-decoration:underline;
}


.footer__heart-icon {
  margin-left: 10px;
  margin-right: 10px;
}