.header--library {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url("../images/library/header-lib-mobile-bg.jpg");

  @include retina() {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("../images/library/header-lib-mobile-bg @2.jpg");
  }
  @include tablet() {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("../images/library/header-lib-tablet-bg.jpg");

    @include retina() {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url("../images/library/header-lib-tablet-bg @2.jpg");
    }
  }
  @include desktop() {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("../images/library/header-lib-desktop-bg.jpg");

    @include retina() {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url("../images/library/header-lib-desktop-bg @2.jpg");
    }
  }
}

.header--library .logo-icon {
  stroke: var(--text-color-light);
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  color: var(--text-color-light);
  animation: logoTextColorChange;
  animation-duration: 1000ms;

  &-icon {
    stroke: currentColor;
  }
}

.header__logo-text {
  display: none;
  margin-left: 10px;
  animation: logoTextColorChange;
  animation-duration: 1000ms;

  @include tablet() {
    display: inline-block;
    @include font(500, 30px, 1.17);
  }
}

.nav__link {
  padding-top: 20px;
  padding-bottom: 20px;
  @include font(500, 12px, 1.167);
  text-transform: uppercase;
  color: var(--text-color-light);
  transition: color var(--transition-prop);

  &:hover,
  &:focus {
    color: var(--text-color-accent);
  }

  &::after,
  &.active::after {
    content: "";
    display: block;
    height: 3px;

    background-color: #ff001b;
    transition: width var(--transition-prop);
  }

  &:hover::after,
  &.active::after {
    width: 100%;
  }

  &::after,
  &.active:hover::after {
    width: 0;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 39px;
  position: relative;

  @include tablet-only() {
    gap: 40px;
  }
}
// .nav__link::after,
// .nav__link--active::after {
//   content: "";

//   position: absolute;
//   bottom: -2px;
//   right: 0;

//   display: block;
//   width: 48%;
//   height: 3px;

//   background-color: #ff001b;
//   transition: width var(--transition-prop);
// }

// .nav__link:hover::after,
// .nav__link--active:hover::after {
//   width: 0;
// }

// LIBRARY BUTTON
.library-cont {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  @include tablet() {
    gap: 32px;
    margin-top: 40px;
  }
  @include desktop() {
    gap: 16px;
  }
}
