.container-header{
    padding: 40px 20px 44px;



    //background-image: ;            
}

.site-menu {
    display: flex;
    justify-content: space-between;
}

.logo-svg {
    fill: rgb(128, 11, 11);  // -- var ?
}


.header__logo-text {
    @include tablet-only() {
        font-weight: 500;
        font-size: 30px;
        line-height: calc(35/30);

        margin-left: 8px; 
    }

    @include desktop() {
        margin-left: 10px;
    }
}
.main-nav-list{
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);  
}
.header__link {
    text-transform: uppercase;
    font-weight: 500;
    // font-size: 12px;
    // line-height: calc(14/12);
}

input {
    position: relative;

    width: 280px;
    height: 20px;
    border-bottom: 1px solid #fff;

    // font-size: 12px;
    // line-height: calc(14/12);
    // font-weight: 400;
    
}

.search-svg {
    position: absolute;
    right: 0;
    top: 2px;

    fill: #fff;
}

.fail-search-message{
    // font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FF001B;

}