.container--header{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 40px 20px 44px;
    height: 230px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mobile-only (){
    background-image: linear-gradient(to right,
                        rgba(0, 0, 0, 0.56),
                        rgba(0, 0, 0, 0.56)),
                        url(../images/main/header-main-mobile-bg.jpg);

        @include retina {
        background-image:   linear-gradient(to right,
                            rgba(0, 0, 0, 0.56),
                            rgba(0, 0, 0, 0.56)),
                            url(../images/main/header-main-mobile-bg\ @2.jpg);
        }
    }
    @include tablet-only() {
        background-image: linear-gradient(to right,
                            rgba(0, 0, 0, 0.56),
                            rgba(0, 0, 0, 0.56)),
                            url(../images/main/header-main-tablet-bg.jpg);
        
        @include retina {
        background-image:   linear-gradient(to right,
                            rgba(0, 0, 0, 0.56),
                            rgba(0, 0, 0, 0.56)),
                            url(../images/main/header-main-tablet-bg\ @2.jpg);
        }
    }
    @include desktop() {
        background-image: linear-gradient(to right,
                            rgba(0, 0, 0, 0.56),
                            rgba(0, 0, 0, 0.56)),
                            url(../images/main/header-main-desktop-bg.jpg);
        
        @include retina {
        background-image:   linear-gradient(to right,
                            rgba(0, 0, 0, 0.56),
                            rgba(0, 0, 0, 0.56)),
                            url(../images/main/header-main-desktop-bg\ @2.jpg);
        }
    }
}

.site-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 54px; 
}

.logo-svg {
    fill: #fff;   
    width: 24px;
    height: 24px;

    border: 1px solid #fff;  // delete in the end     !!!!!!!!!!!!!!!


}


.header__logo-text {
    @include mobile-only(){
        display: none;
    }
    @include tablet-only() {
        font-weight: 500;
        font-size: 30px;
        line-height: calc(35/30);

        margin-left: 8px; 
    }
    @include desktop() {
        margin-left: 10px;
    }
}

.main-nav-list {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.header__link {
    position: relative;
    margin-bottom: 2px;

    text-align: center;

    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);

    color:rgba(255, 255, 255, 1);
}

.underline::after{
    content: "";

    position: absolute;
    bottom: -2px;

    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #FF001B;
    
}

.search-form{
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    //margin-bottom: 16px; // при доданні повідомлення про невдалий пошук

    background-color: inherit;
    
}

input {
    padding: 0;
    min-width: 280px;
    height: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;

    background-color: inherit;

    font-size: 12px;
    line-height: calc(14/12);
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
}

input::placeholder{
    color:rgba(255, 255, 255, 1);
}

// .submit-btn{
//     position: absolute;
//     right: 0;
//     top: 2px;
//     border: 1px solid red;
//     // border: none;
//     background-color: inherit;

//     width: 12px;
//     height: 12px;
// }

.search-svg {
    position: absolute;
    right: 0;
    top: 2px;
    border: 1px solid #fff;  // delete in the end     !!!!!!!!!!!!!!!
    // border: none;
    background-color: inherit;

    width: 12px;
    height: 12px;
    
    width: 12px;
    height: 12px;

    fill: rgba(255, 255, 255, 1);
}

.fail-search-message{
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FF001B;
}