.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 280px;
  max-width: 100%;
  height: 940px;
  max-height: 100%;
  background: #ffffff;
  padding: 48px 20px 40px 20px;
  overflow: auto;
  //   @include tablet-only {
  //     top: 219px;
  //     left: 50%;
  //     transform: translate(-50%, 0%);
  //     width: 704px;
  //     height: 552px;
  //     padding: 40px 72px 40px 36px;
  //     display: flex;
  //   }
  //   @include desktop {
  //     top: 150px;
  //     left: 50%;
  //     transform: translate(-50%, 0%);
  //     display: flex;
  //     width: 806px;
  //     height: 558px;
  //     padding: 40px 12px;
  //   }
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.close-icon {
  fill: currentColor;
}

.modal__wrapper-img {
  border-radius: 5px;
  width: 240px;
  height: 357px;
  //   @include tablet-only {
  //     width: 264px;
  //     height: 374px;
  //     margin-right: 68px;
  //   }
  //   @include desktop {
  //     width: 375px;
  //     height: 478px;
  //     margin-right: 16px;
  //   }
}

.modal__img {
  width: 100%;
  height: 357px;
  //   @include tablet-only {
  //     height: 374px;
  //   }
  //   @include desktop {
  //     height: 478px;
  //   }
}

.modal__info {
  display: inline-block;
  width: 240px;
  //   @include tablet-only {
  //     width: 264px;
  //   }
  //   @include desktop {
  //     width: 391px;
  //   }
}

.modal__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  //   @include tablet-only {
  //     margin-top: 0;
  //   }
  //   @include desktop {
  //     margin-top: 0;
  //   }
}

.modal__attributes {
  margin-bottom: 20px;
}

.modal__attributes-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--text-color-accent);
}

.modal__attributes-vote {
  width: 36px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-color-light);
  background-color: var(--accent-color);
  border-radius: 5px;
}

.votes {
  color: var(--text-color-main);
  background-color: var(--bg-color);
}

.modal__attributes-text {
  color: var(--text-color-main);
}

.modal__article {
  margin-bottom: 20px;
}

.modal__about {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.modal__about-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.modal__list-btn {
  display: flex;
  justify-content: space-between;
  //   @include desktop {
  //     justify-content: flex-start;
  //   }
}

// .modal__item-btn {
//   @include desktop {
//     margin-left: 8px;
//     margin-right: 7px;
//   }
// }

.modal__btn {
  width: 110px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border: none;
    color: var(--text-color-light);
  }
  //   @include tablet-only {
  //     width: 125px;
  //   }

  //   @include desktop {
  //     width: 136px;
  //   }
}
