.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  padding: var(--gutter-mob);
  @include centered();
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity var(--transition-prop), visibility var(--transition-prop);

  @include tablet() {
    padding: var(--gutter);
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  max-width: 480px;
  max-height: 100%;
  background: #ffffff;
  padding: 48px 20px 40px 20px;
  overflow: auto;
  @include tablet-only {
    max-width: 100%;
    padding: 40px 72px 40px 36px;
    display: flex;
  }
  @include desktop {
    display: flex;
    max-width: 100%;
    padding: 40px 12px;
  }
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.close-icon {
  fill: currentColor;
}

.modal__wrapper-img {
  @include tablet-only {
    width: 264px;
    height: 374px;
    margin-right: 68px;
  }
  @include desktop {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.modal__img {
  border-radius: 5px;
  width: 100%;
  height: 100%;

  @include desktop() {
    object-fit: cover;
  }
}

.modal__info {
  display: inline-block;
  max-width: 440px;
  margin-top: 20px;

  @include tablet {
    margin-top: 0;
  }

  @include tablet-only {
    width: 264px;
  }
  @include desktop {
    width: 391px;
  }
}

.modal__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  @include tablet-only {
    margin-top: 0;
  }
  @include desktop {
    margin-top: 0;
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal__attributes {
  margin-bottom: 20px;

  @include desktop() {
    width: 90%;
  }
}

.modal__attributes-name {
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--text-color-accent);
}

.modal__attributes-name:last-child {
  margin-bottom: 0;
}

.modal__attributes-title {
  display: inline-block;
  width: 50%;
  @include desktop {
    width: 40%;
  }
}

.modal__attributes-vote {
  width: 36px;
  height: 16px;
  margin-right: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-color-light);

  background-color: var(--accent-color);
  border-radius: 5px;
}

.votes {
  margin-left: 3px;
  color: var(--text-color-main);
  background-color: var(--bg-color);
}

.modal__attributes-text {
  color: var(--text-color-main);
  width: 50%;
}

.modal__article {
  margin-bottom: 20px;
}

.modal__about {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.modal__about-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.modal__list-btn {
  display: flex;
  // gap: var(--gutter-mob);
  justify-content: center;

  @include desktop {
    justify-content: flex-start;
    gap: 15px;
    margin-left: 8px;
  }
}

.modal__item-btn {
  margin-right: 10px;
}

.modal__item-btn:last-child {
  @include desktop {
    margin-right: 0;
  }
}
